<!DOCTYPE html>
<!-- Bootstrap Navigation Code -->
<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h2 style="color:white; width:auto; margin-right:10px">Weenies</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutArch">Arch</a>
                        <a class="dropdown-item" href="/aboutRyan">Ryan</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bmicalc">BMI Calculator<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/quiz">Nutrition Quiz<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recipeapi">Fun Recipes<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <!-- Clock display -->
            <div class="px-3">
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <!-- Navigation bar JavaScript support -->
        </div>
    </nav>
</th:block>