<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <div class="container p-3 my-3 bg-dark text-light rounded">

        <div>
            <br>
            <h6 style="color:white">{{ output1 }}ㅤ</h6>
            <h6 style="color:white">{{ output2 }}ㅤ</h6>
            <h6 style="color:white">{{ output3 }}ㅤ</h6>
            <h6 style="color:white">{{ output4 }}ㅤ</h6>
            <h6 style="color:white">{{ output5 }}ㅤ</h6>
        </div>

        <form action="" id="input" method="POST">
            <label for="commandInputId" style="color:white">Select an option:</label>
            <input name="commandInput" id="commandInputId" type="text" class="input-box bg-dark" style="color:white" autocomplete="off" autofocus>
        </form>

    </div>
</body>
</html>